<a href="https://colab.research.google.com/github/SAMMOSES26/codkata_problms/blob/main/codekata_problms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Input/Output**

In [ ]:
# 1. Write a code to get the input in the given format and print the output in the given format

# Input Description:
# To take an integer value

# Output Description:
# Print the integer value

# Sample Input :
# 2

# Sample Output :
# 2

a=int(input("Sample Input: " ))
print("Sample Output:", a)

Sample Input: 2
Sample Output: 2

In [8]:
# 2. Write a code to get the input in the given format and print the output in the given format

# Input Description:
# A single line contains integers separated by space

# Output Description:
# Print the integer list of integers separated by space

# Sample Input :
# 2 3 4 5 6 7 8

# Sample Output :
# # 2 3 4 5 6 7 8

a=list(map(int,input("Sample Input: " ).split(" ")))
print("Sample Output:", *a)

Sample Input: 2 3 4 5 6 7 8
Sample Output: 2 3 4 5 6 7 8

In [9]:
# 3. Write a code to get the input in the given format and print the output in the given format.

# Input Description:
# First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

# Output Description:
# Print the taken input in the same format.

# Sample Input :
# 5 3
# 1 2 3 4 5
# Sample Output :
# 5 3
# 1 2 3 4 5
print("Sample Input: ")
a=list(map(int,input().split(" ")))
b=list(map(int,input().split(" ")))
print("Sample Output: ")
print(*a)
print(*b)

Sample Input:
5 3
1 2 3 4 5
Sample Output:
5 3
1 2 3 4 5

In [11]:
#4.  Write a code to get the input in the given format and print the output in the given format

# Input Description:
# First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

# Output Description:
# Print the input in the same format.

# Sample Input :
# 2 4
# 2 4
# 2 4
# Sample Output :
# 2 4
# 2 4
# 2 4
print("Sample Input: ")
a=list(map(int,input().split(" ")))
b=list(map(int,input().split(" ")))
c=list(map(int,input().split(" ")))
print("Sample Output: ")
print(*a)
print(*b)
print(*c)

Sample Input:
2 4
2 4
2 4
Sample Output:
2 4
2 4
2 4

In [13]:
# 5. Write a code to get the input in the given format and print the output in the given format

# Input Description:
# Three integers are given in line by line.

# Output Description:
# Print the integers in a single line separate by space.

# Sample Input :
# 2
# 4
# 5
# Sample Output :
# 2 4 5
print("Sample input: ")
a=int(input())
b=int(input())
c=int(input())
print("Sample Output: ")
print(a,b,c)
# type(a)

Sample input:
2
4
5
Sample Output:
2 4 5

In [14]:
# 6. Write a code to get the input in the given format and print the output in the given format

# Input Description:
# First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

# Output Description:
# Print the input in the same format.

# Sample Input :
# 2 5
# 2 5 6
# 2 4 5
# Sample Output :
# 2 5
# 2 5 6
# 2 4 5
print("Sample input: ")
a=list(map(int,input().split(" ")))
b=list(map(int,input().split(" ")))
c=list(map(int,input().split(" ")))
print("Sample Output: ")
print(*a)
print(*b)
print(*c)

Sample input:
2 5
2 5 6
2 4 5
Sample Output:
2 5
2 5 6
2 4 5

In [16]:
# 7. Write a code to get the input in the given format and print the output in the given format

# Input Description:
# A single line contains a string.

# Output Description:
# Print the characters in a string separated by space.

# Sample Input :
# guvi
# Sample Output :
# g u v i

a=input()

print(*a)

sam
s a m

In [2]:
# 8. Write a code to get the input in the given format and print the output in the given format.

# Input Description:
# A single line contains three float values separated by space.

# Output Description:
# Print the float value separated by line.

# Sample Input :
# 2.3 4.5 7.8
# Sample Output :
# 2.3
# 4.5
# 7.8

a=input().split(" ")

for i in a:
  print(i)

2.3 4.5 7.8
2.3
4.5
7.8

In [17]:
# 9.Write a code to get the input in the given format and print the output in the given format.

# Input Description:
# A single line contains a string.

# Output Description:
# Print the characters in a string separated by line.

# Sample Input :
# guvigeek
# Sample Output :
# g
# u
# v
# i
# g
# e
# e
# k
print("Sample Input")
a=input()
print("Sample Output")
for i in a:
  print(i)

Sample Input
guvigeek
Sample Output
g
u
v
i
g
e
e
k

In [24]:
#10. Write a code to get the input in the given format and print the output in the given format.

# Input Description:
# A single line contains a string.

# Output Description:
# Print the characters in a string separated by comma.

# Sample Input :
# guvi
# Sample Output :
# g,u,v,i

# print("Sample Input")
# a=input()
# print("Sample Output")
# print(a,sep=",")
a=input()
print(",".join(a))

guvi
g,u,v,i

# **absolute beginner**

In [35]:
# 1.You are provided with a number, "N". Find its factorial.

# Input Description:
# A positive integer is provided as an input.

# Output Description:
# Print the factorial of the integer.

# Sample Input :
# 2
# Sample Output :
# 2

a=int(input())
print(a)

2
2

In [36]:
# 2.You are given Two Numbers, A and B. If C = A + B. Find C.

# Note: Round off the output to a single decimal place.

# Input Description:
# You are provided with two numbers A and B.

# Output Description:
# Find the sum of the two numbers (A + B)

# Sample Input :
# 1
# 1
# Sample Output :
# 2

a=int(input())
b=int(input())
c=a+b
print(c)

1
1
2

In [39]:
# 3.You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

# (A and B are natural numbers)

# Input Description:
# The inputs are two natural numbers representing the length and the breadth of a rectangle.

# Output Description:
# Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

# Sample Input :
# 2
# 3
# Sample Output :
# 6
print("Sample input :")
length=int(input())
breath=int(input())
c=length*breath
print("Sample Output :")
print(c)

Sample input :
2
3
Sample Output :
6

In [42]:
# You will be provided with a number. Print the number of days in the month corresponding to that number.

# Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

# Input Description:
# The input is in the form of a number.

# Output Description:
# Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

# Sample Input :
# 8
# Sample Output :
# 31

a=int(input())

if a==1:
  print(31)
if a==2:
  print(28)
if a==3:
  print(31)
if a==4:
  print(30)
if a==5:
  print(31)
if a==6:
  print(30)
if a==7:
  print(31)
if a==8:
  print(31)
if a==9:
  print(30)
if a==10:
  print(31)
if a==11:
  print(30)
if a==12:
  print(31)
if a>12:
  print("Error")

13
Error

In [43]:
# 5.You are given with a number "N", find its cube.

# Input Description:
# A positive integer is provided.

# Output Description:
# Find the cube of the number.

# Sample Input :
# 2
# Sample Output :
# 8

a=int(input())
print(a**3)

2
8

In [14]:
# 6.You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

# Print the output up to two decimal places (Round-off if necessary).

# (S.I. = P*T*R/100)

# Input Description:
# Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

# Output Description:
# Find the Simple interest and print it up to two decimal places. Round off if required.

# Sample Input :
# 1000 2 5
# Sample Output :
# 100.00


P,T,R=map(float,input().split( ))

SI=P*T*R/100

result = format(SI, '.2f')
print(result)

1000 2 5
100.00

In [4]:
# 7.You are provided with a number check whether its odd or even. 

# Print "Odd" or "Even" for the corresponding cases.

# Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

# Input Description:
# A number is provided as the input.

# Output Description:
# Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

# Sample Input :
# 2
# Sample Output :
# Even

num = int(input())
r_number=round(num)

if r_number ==0:
  print('Zero')  
elif r_number%2==0:
  print("Even")
else:
  print("Odd")

3
Odd

In [6]:
# 8.You are provided with the radius of a circle "A". Find the length of its circumference.

# Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

# Input Description:
# The Radius of a circle is provided as the input of the program.

# Output Description:
# Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

# Sample Input :
# 2
# Sample Output :
# 12.57

import math
r=float(input())

if r<0:
  print('Error')
else:
  circle=2*r*math.pi
  round=format(circle,'.2f')
  print(round)

2
12.57

In [10]:
# 9.You are given three numbers A, B & C. Print the largest amongst these three numbers.

# Input Description:
# Three numbers are provided to you.

# Output Description:
# Find and print the largest among the three

# Sample Input :
# 1
# 2
# 3
# Sample Output :
# 3

print("Sample Input: ")
a=int(input())
b=int(input())
c=int(input())
print("Sample Output: ")
if a>=b and a>=c:
  print(a)
elif b>=a and b>=c:
  print(b)
else:
  print(c)

Sample Input:
1
2
3
Sample Output:
3

In [18]:
# 10.Using the method of looping, write a program to print the table of 9 till N in the format as follows:
# (N is input by the user)

# 9 18 27...

# Print NULL if 0 is input

# Input Description:
# A positive integer is provided as an input.

# Output Description:
# Print the table of nine with single space between the elements till the number that is input.

# Sample Input :
# 3
# Sample Output :
# 9 18 27

a=int(input())
l=[]
if a==0:
  print("NULL")
else:
  for i in range(1,a+1):
    i=i*9
    l.append(i)
    # print(i*9)
print(*l)

3
9 18 27

In [4]:
# 11.Print the First 3 multiples of the given number "N". (N is a positive integer)

# Note: print the characters with a single space between them.

# Input Description:
# A positive integer is provided to you as an input.

# Output Description:
# Print the First 3 multiples of the number with single spaces between them as an output.

# Sample Input :
# 2
# Sample Output :
# 2 4 6

a=int(input())
b=[]
for i in range(1,4):
  l=i*a
  b.append(l)
print(*b)

2
2 4 6

In [9]:
# 12.Let "A" be a year, write a program to check whether this year is a leap year or not.

# Print "Y" if its a leap year and "N" if its a common year.

# Input Description:
# A Year is the input in the form of a positive integer.

# Output Description:
# Print "Y" if its a leap year and "N" if its a common year.

# Sample Input :
# 2020
# Sample Output :
# # Y

year = int(input())

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Y")
        else:
            print("N")
    else:
        print("Y")
else:
    print("N")

2020
Y

In [ ]:
13.

In [ ]:
14.

In [ ]:
15.

In [ ]:
16.

In [ ]:
17

In [34]:
#30. Write a code to get the input and print it 5 times.

# Input Description:
# A single line contains an integer N.

# Output Description:
# Output contains 5 lines with each line having the value N.

# Sample Input :
# 4
# Sample Output :
# 4
# 4
# 4
# 4
# 4

a=input("sample input:")
print("sample output:")
for i in range(5):
  print(a)

sample input:4
sample output:
4
4
4
4
4